<a href="https://colab.research.google.com/github/mprathyushareddy1629/DAP/blob/main/DAP_loops_059.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str="python"
for i in str:
  print(i)

p
y
t
h
o
n

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
n=6
for i in list:
  c=n*i
  print(n," *",i,"=",c)

6  * 1 = 6
6  * 2 = 12
6  * 3 = 18
6  * 4 = 24
6  * 5 = 30
6  * 6 = 36
6  * 7 = 42
6  * 8 = 48
6  * 9 = 54
6  * 10 = 60

In [ ]:
list=[10,20,30,10,20]
sum=0
for i in list:
  sum=sum+i
print(sum)

90

In [ ]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
n=int(input("Enter the number "))
for i in range(1,11):
  c=n*i
  print(n, "*", i, "= ",c)

Enter the number 4
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40

In [ ]:
n=int(input("enter the number "))
for i in range(2,n,3):
  print(i)

enter the number 10
2
5
8

In [ ]:
list=["prathu","usha","reddy"]
for i in range(len(list)):
  print("hello",list[i])

hello prathu
hello usha
hello reddy

In [ ]:
for i in range(0,7):
  print(i)
else:
  print("bye")

0
1
2
3
4
5
6
bye

In [ ]:
for i in range(0,7):
  print(i)
  print("bye")
  continue
  print("hello")
else:
  print("for loop is exhausted")
print("out of the loop")

0
bye
1
bye
2
bye
3
bye
4
bye
5
bye
6
bye
for loop is exhausted
out of the loop

In [ ]:
#prints all letters except 'a' and 'u'
i=0
str1='prathyusha'
print(str1)
while i<len(str1):
  print("entered loop before if statement")
  if str1[i] == 'a' or str1[i] == 'u':   
    print('entered if statement')
    i += 1  
    print('i incremented')
    continue  
    print('after continue')
  print('Current Letter :', str1[i])   
  i += 1 
  print('going back to starting of while loop')

prathyusha
entered loop before if statement
Current Letter : p
going back to starting of while loop
entered loop before if statement
Current Letter : r
going back to starting of while loop
entered loop before if statement
entered if statement
i incremented
entered loop before if statement
Current Letter : t
going back to starting of while loop
entered loop before if statement
Current Letter : h
going back to starting of while loop
entered loop before if statement
Current Letter : y
going back to starting of while loop
entered loop before if statement
entered if statement
i incremented
entered loop before if statement
Current Letter : s
going back to starting of while loop
entered loop before if statement
Current Letter : h
going back to starting of while loop
entered loop before if statement
entered if statement
i incremented

In [ ]:
i=0
str1='prathyusha'
while i<len(str1):
  if(str1[i]=='s'):
    i+=1
    break
  print("letter : ",str1[i])
  i+=1

letter :  p
letter :  r
letter :  a
letter :  t
letter :  h
letter :  y
letter :  u

In [ ]:
str2='prathyusha'
i=0
while i<len(str2):
  i=i+1
  pass
print("value of i : ",i)

value of i :  10

In [ ]:
i=1
while (i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
number=int(input("enter a number"))
while(i<=10):
  print(number, "X",i, "=",number*i)
  i+=1

enter a number5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
i=1   
while(i<=5):    
    print(i)    
    i=i+1    
else:  
    print("The while loop exhausted")

1
2
3
4
5
The while loop exhausted

In [ ]:
i=1    
while(i<=5):    
    print(i)    
    i=i+1    
    if(i==3):    
        break   
else:  
    print("The while loop exhausted")
print("bye bye")

1
2
bye bye

In [ ]:
    list =[1,2,3,4]  
    i=1;
    count = 1;  
    for i in list:  
        if i == 4:  
            print("item matched")  
            count = count + 1;  
            break  
    print("found at",count,"location");

item matched
found at 2 location

In [ ]:
    str = "python"  
    for i in str:  
        if i == 'o':  
            break  
        print(i);

p
y
t
h

In [ ]:
    n=2  
    while 1:  
        i=1;  
        while i<=10:  
            print("%d X %d = %d"%(n,i,n*i));  
            i = i+1;  
        choice = int(input("Do you want to continue printing the table, press 0 for no?"))  
        if choice == 0:  
            break;      
        n=n+1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Do you want to continue printing the table, press 0 for no?0

In [ ]:
    i = 0                     
    while(i < 10):                
       i = i+1  
       if(i == 5):  
          continue  
       print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
    list = [1,2,3,4,5]    
    flag = 0    
    for i in list:    
        print("Current element:",i,end=" ");    
        if i==3:    
            pass    
            print("\nWe are inside pass block\n");    
            flag = 1    
        if flag==1:    
            print("\nCame out of pass\n");    
            flag=0

Current element: 1 Current element: 2 Current element: 3
We are inside pass block


Came out of pass

Current element: 4 Current element: 5

In [ ]:
    for i in [1,2,3,4,5]:   
        if(i==4):  
            pass  
            print("This is pass block",i)  
        print(i)

1
2
3
This is pass block 4
4
5