<a href="https://colab.research.google.com/github/mprathyushareddy1629/DAP/blob/main/DAP_lists_059.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=['maths','physics',2001,2002];
list2=[1,2,3,4,5,6]
print("list[0]: ",list1[2])
print("list2[1:5]: ",list2[1:5])

list[0]:  2001
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 999999;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
999999

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del (list1[2]);
print ("After deleting value at index 2 :")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
list1, list2 = [123, 'xyz', 'prathu'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [ ]:
aList = [123, 'xyz', 'prathu', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'prathu', 'abc', 2009]

In [ ]:
aList = [123, 'xyz', 'xyz', 'abc', 123];
print ("Count for xyz : ", aList.count('xyz'))
print ("Count for prathu : ", aList.count('prathu'))

Count for xyz :  2
Count for prathu :  0

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'prathu'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'prathu']

In [ ]:
aList = [123, 'xyz', 'zaa', 'abc', 'zara'];
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for zara : ", aList.index( 'zara' ) )

Index for xyz :  1
Index for zara :  4

In [ ]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'zara', 2009, 'abc']

In [ ]:
aList = [123, 'xyz', 'zara', 'abc'];

print(aList)

print ("List after popping last element : ", aList.pop())

print(aList)

print ("List after popping element from mentioned index: ", aList.pop(2))

print(aList)

aList.insert(3, 2009)

print(aList)

[123, 'xyz', 'zara', 'abc']
List after popping last element :  abc
[123, 'xyz', 'zara']
List after popping element from mentioned index:  zara
[123, 'xyz']
[123, 'xyz', 2009]

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

In [ ]:
aList = ['prathu', 'xyz', 'zara', 'abc', 'nive'];
aList.reverse();
print ("List : ", aList)

List :  ['nive', 'abc', 'zara', 'xyz', 'prathu']

In [ ]:
aList = ['prathu', 'reddy', 'keerthi', 'Reddy', 'mee'];
aList.sort();
print ("List : ", aList)

List :  ['Reddy', 'keerthi', 'mee', 'prathu', 'reddy']

In [ ]:
aList = [ 'xyz', 'zara', 'abc', 'xyz','prathu'];
aList.sort();
print ("List : ", aList)

List :  ['abc', 'prathu', 'xyz', 'xyz', 'zara']